/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }



@font-face {
    font-family: 'KomikaTextRegular';
    src: url('fonts/KOMTXT__-webfont.eot');
    src: url('fonts/KOMTXT__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXT__-webfont.woff') format('woff'),
         url('fonts/KOMTXT__-webfont.ttf') format('truetype'),
         url('fonts/KOMTXT__-webfont.svg#KomikaTextRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextItalic';
    src: url('fonts/KOMTXTI_-webfont.eot');
    src: url('fonts/KOMTXTI_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXTI_-webfont.woff') format('woff'),
         url('fonts/KOMTXTI_-webfont.ttf') format('truetype'),
         url('fonts/KOMTXTI_-webfont.svg#KomikaTextItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextBold';
    src: url('fonts/KOMTXTB_-webfont.eot');
    src: url('fonts/KOMTXTB_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXTB_-webfont.woff') format('woff'),
         url('fonts/KOMTXTB_-webfont.ttf') format('truetype'),
         url('fonts/KOMTXTB_-webfont.svg#KomikaTextBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextBoldItalic';
    src: url('fonts/KOMTXTBI-webfont.eot');
    src: url('fonts/KOMTXTBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXTBI-webfont.woff') format('woff'),
         url('fonts/KOMTXTBI-webfont.ttf') format('truetype'),
         url('fonts/KOMTXTBI-webfont.svg#KomikaTextBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextKapsRegular';
    src: url('fonts/KOMTXTK_-webfont.eot');
    src: url('fonts/KOMTXTK_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXTK_-webfont.woff') format('woff'),
         url('fonts/KOMTXTK_-webfont.ttf') format('truetype'),
         url('fonts/KOMTXTK_-webfont.svg#KomikaTextKapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextKapsItalic';
    src: url('fonts/KOMTXTKI-webfont.eot');
    src: url('fonts/KOMTXTKI-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXTKI-webfont.woff') format('woff'),
         url('fonts/KOMTXTKI-webfont.ttf') format('truetype'),
         url('fonts/KOMTXTKI-webfont.svg#KomikaTextKapsItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextKapsBold';
    src: url('fonts/KOMTXTKB-webfont.eot');
    src: url('fonts/KOMTXTKB-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXTKB-webfont.woff') format('woff'),
         url('fonts/KOMTXTKB-webfont.ttf') format('truetype'),
         url('fonts/KOMTXTKB-webfont.svg#KomikaTextKapsBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextKapsBoldItalic';
    src: url('fonts/KOMTXKBI-webfont.eot');
    src: url('fonts/KOMTXKBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXKBI-webfont.woff') format('woff'),
         url('fonts/KOMTXKBI-webfont.ttf') format('truetype'),
         url('fonts/KOMTXKBI-webfont.svg#KomikaTextKapsBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextTightRegular';
    src: url('fonts/KOMTXTT_-webfont.eot');
    src: url('fonts/KOMTXTT_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXTT_-webfont.woff') format('woff'),
         url('fonts/KOMTXTT_-webfont.ttf') format('truetype'),
         url('fonts/KOMTXTT_-webfont.svg#KomikaTextTightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTextTightItalic';
    src: url('fonts/KOMTXTTI-webfont.eot');
    src: url('fonts/KOMTXTTI-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KOMTXTTI-webfont.woff') format('woff'),
         url('fonts/KOMTXTTI-webfont.ttf') format('truetype'),
         url('fonts/KOMTXTTI-webfont.svg#KomikaTextTightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**
 * Primary styles
 *
 * Author: 
 */


h1{font: 3.6em/1.2em 'KomikaTextKapsBold', Arial, sans-serif;color:#37C}
h2{font: 2.5em/1.2em 'KomikaTextTightRegular', Arial, sans-serif;color:#37C}

body{background:url(images/background.png);padding:1% 0}
#container{margin:0 auto;width:1200px;background:#fff;padding:0 10px;-moz-border-radius:15px;border-radius:15px}
header{text-align:center;padding-top:10px}
#logo{float:left;margin-right:10px}
#donate_now{float:right;margin-left:10px}
#on_the_road{width:966px;float:left}
#on_the_road table{border-collapse:separate}
#on_the_road table td{display:table-cell}
#on_the_road #photos{width:250px;margin:0;display:block}
#on_the_road #photos li{list-style:none;float:left;margin:0 5px 5px 0}
#on_the_road #photos li img{border:solid 1px #aaa;width:75px;height:75px;-webkit-box-shadow:1px 1px 1px #aaaaaa;-moz-box-shadow:1px 1px 1px #aaaaaa;box-shadow:1px 1px 1px #aaaaaa}
#on_the_road #map{width:700px;height:595px}
#twitter{float:left}

footer{padding:20px 0;text-align:center}
footer p{font-size:smaller}











.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

